<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>Visual chatGPT Studio</Title>
    <Author>Jefferson Pires</Author>
    <Shortcut>chatgpt</Shortcut>
    <Description>Make your request to chatGPT</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Declarations>
      <Literal>
        <ID>request</ID>
        <ToolTip>write your request and confirm with Enter twice</ToolTip>
        <Default>write your request and confirm with Enter twice</Default>
      </Literal>
    </Declarations>
    <Code Language="Basic">
      <![CDATA[chatGPT: $request$]]>
    </Code>
  </Snippet>
</CodeSnippet>